<!DOCTYPE html>
<html>
    <head><title>Open Judge</title></head>
    <body>
       <div>
            <center><h1>Coding contest!!</h1></center>
            <form hx-post="{% url 'judge:handle' %}" hx-swap="outerHTML" hx-target="#output-div">
                <hr>
                <input name="language" value="python"><br>
                <textarea name="code" placeholder="Enter your code here" style="height:400px; width:600px"></textarea><br>
                <button>Submit</button>
                <hr>
            </form>
            <fieldset>
                <legend>Output</legend>
                <div id="output-div">
                </div>
            </fieldset>
       </div>
       <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
    </body>
</html>