<html>
        <head>
            <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        </head>
        <title>
            OpenJudge
        </title>
        <body>
            <div style="margin-top: 20%;">
                <center>
                    <form action="#" method="post">
                        <input type='text' name='name' placeholder="Enter your name" required><br><br>
                        <input type='email' name='email' placeholder="Enetr email address" required><br><br>
                        <input type="phone" name="phone" placeholder="Enter Mobile number" required><br><br>
                        <input type="submit" name="submit">
                    </form>
                </center>
            </div>
            <script src="/scripts/htmx.min.js" defer></script>
        </body>
</html>